body {
  font-family: $font-sans-serif, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: $color-dark;
  color: $color-light;
}

a {
  color: $color-primary;
  text-decoration: none;
  &:hover {
    color: $color-secondary;
  }
}

.container {
  max-width: pxToRem(1200);
  margin: 0 auto;
  padding: 0 pxToRem(20);
}
