$color-primary: #3498DB;
$color-secondary: #F1C40F;
$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #E67E22;
$color-danger: #E74C3C;
$color-light: #ECF0F1;
$color-dark: #2C3E50;
$color-vue-light: #41B883;
$color-vue-dark: #34495E;
$breakpoint-xs: (max-width: 743px);
$breakpoint-sm: (min-width: 744px);
$breakpoint-md: (min-width: 992px);
$breakpoint-lg: (min-width: 1200px);
$breakpoint-xl: (min-width: 1400px);
$font-sans-serif: "SUSE";